[submodule "machine-learning/splitting-dataset/paceAITester"]
	path = machine-learning/splitting-dataset/paceAITester
	url = https://github.com/dsu-arl/paceAITester
[submodule "machine-learning/linear-regression/paceAITester"]
	path = machine-learning/linear-regression/paceAITester
	url = https://github.com/dsu-arl/paceAITester
[submodule "machine-learning/logistic-regression/paceAITester"]
	path = machine-learning/logistic-regression/paceAITester
	url = https://github.com/dsu-arl/paceAITester
[submodule "machine-learning/decision-trees/paceAITester"]
	path = machine-learning/decision-trees/paceAITester
	url = https://github.com/dsu-arl/paceAITester
[submodule "machine-learning/random-forests/paceAITester"]
	path = machine-learning/random-forests/paceAITester
	url = https://github.com/dsu-arl/paceAITester
[submodule "machine-learning/hyperparameters/paceAITester"]
	path = machine-learning/hyperparameters/paceAITester
	url = https://github.com/dsu-arl/paceAITester
